<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <title>PHẦN MỀM QUẢN LÝ THƯ VIỆN</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Customer/assets/css/font-awesome.css">
    <link rel="stylesheet" href="/Assets/Customer/assets/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="/Assets/Customer/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="/Assets/Customer/assets/css/lightbox.css">
</head>

<body>
    <include src="./header.html"></include>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        @RenderPage("_Menubar.cshtml")
    </header>
    <!-- ***** Header Area End ***** -->
    @RenderBody()
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="/Assets/Customer/assets/images/white-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>
                            © Copyright Klassy Cafe Co.

                            <br>Design: TemplateMo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="/Assets/Customer/assets/js/jquery-2.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Assets/Customer/assets/js/popper.js"></script>
    <script src="/Assets/Customer/assets/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="/Assets/Customer/assets/js/owl-carousel.js"></script>
    <script src="/Assets/Customer/assets/js/accordions.js"></script>
    <script src="/Assets/Customer/assets/js/datepicker.js"></script>
    <script src="/Assets/Customer/assets/js/scrollreveal.min.js"></script>
    <script src="/Assets/Customer/assets/js/waypoints.min.js"></script>
    <script src="/Assets/Customer/assets/js/jquery.counterup.min.js"></script>
    <script src="/Assets/Customer/assets/js/imgfix.min.js"></script>
    <script src="/Assets/Customer/assets/js/slick.js"></script>
    <script src="/Assets/Customer/assets/js/lightbox.js"></script>
    <script src="/Assets/Customer/assets/js/isotope.js"></script>
    <!-- Global Init -->
    <script src="/Assets/Customer/assets/js/custom.js"></script>
    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
    </script>
</body>

</html>