<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo">
                    <img src="/Assets/Customer/assets/images/klassy-logo.png" align="klassy cafe html template">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <form class="form-inline">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Enter Input"
                                   aria-label="Search">
                            <a href="#" class="form-control mr-sm-2"><i class="fa fa-search"></i></a>
                        </div>
                    </form>

                    <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>

                    <li class="submenu">
                        <a href="javascript:;">Category</a>
                        <ul>
                            <li><a href="ListBook.html">Category Math Books</a></li>
                            <li><a href="ListBook.html">Category History Books</a></li>
                            <li><a href="ListBook.html">Category IT Books</a></li>
                            <li><a href="ListBook.html">Category Software Books</a></li>
                        </ul>
                    </li>
                    <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                    <li class="submenu">
                        <a href="javascript:;">Profile</a>
                        <ul class="social-icons">
                            <li><a href="CustomerInfo.html"><i class="fa fa-user"></i> Personal Page</a></li>
                            <li><a href="index.html"><i class="fa fa-sign-out"></i> Logout</a></li>
                            <li><a href="login.html"><i class="fa fa-sign-out"></i> Login</a></li>
                        </ul>
                    </li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</div>